/*
.TaskListDeleteForm{
    display: none;
}

.TaskListForm:hover .TaskListDeleteForm{
    display: block;
}
*/
.full-width{
    width: 100%;
}


.TaskList{
    background-color: white;
}

.TaskList:hover{
    background-color: bisque;
}