/*
.TaskListDeleteForm{
    display: none;
}

.TaskListForm:hover .TaskListDeleteForm{
    display: block;
}
*/
.full-width{
    width: 100%;
}

body{
    background-color: #d1d1e0;
}


.TaskList{
    background-color: #d1d1e0;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.TaskList:hover{
    background-color: white;
}

.ActiveTaskList{
    background-color: white;
}